/* #player1{
float:left;
}
#player1-score {
float:left;
}
#player2{
float;
}
#player2-score {
float:left;
} */

#player1-win {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  text-align: center;
  background-image: url("https://pbs.twimg.com/media/EVLyO8VVAAIt1ru?format=jpg&name=large");
}

#player2-current-score {
  display: none;
}

#player1-win {
  display: none;
}

#player2-win {
  display: none;
}
img{
  height: 350px;
  width: 350px;
  padding: 10px;
  border-width: 8px;
  border-style:ridge;
  border-width: 10px;
  border-radius: 10px;
  border-radius: 50%;
  border-color: rgb(15, 10, 66);
  box-shadow: 0 20px 40px rgba(4, 0, 0, 0.19), 0 12px 12px rgba(72, 10, 10, 0.23);
  /* filter: blur(20px) grayscale();  */
}
#roll:hover {
  transition: all 0.9s;
  transform: scale(2.0)
}
#end:hover {
  transition: all 0.9s;
  transform: scale(2.0)
}