#player1-win {
  text-align: center;
}
body {
  font-family: 'Press Start 2P', cursive;
  font-size: 35px;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
#container {  
  margin-top: 5%;
  margin-bottom: 15%;
  text-align: center;
  background-image: url("https://pbs.twimg.com/media/EVLyO8VVAAIt1ru?format=jpg&name=large");
  background-color: #3d1010; 
  height: 900px; 
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}
#title{
  font-size: 90px;
}

#player2-current-score {
  display: none;
}

#player1-win {
  display: none;
}

#player2-win {
  display: none;
}
#playerz{
  height: 250px;
  width: 250px;
  padding: 10px;
  border-width: 8px;
  border-style:ridge;
  border-width: 10px;
  border-radius: 10px;
  border-radius: 50%;
  border-color: rgb(15, 10, 66);
  box-shadow: 0 20px 40px rgba(4, 0, 0, 0.19), 0 12px 12px rgba(72, 10, 10, 0.23);
  /* filter: blur(20px) grayscale();  */
}
#roll:hover {
  transition: all 0.9s;
  transform: scale(2.0)
}
#end:hover {
  transition: all 0.9s;
  transform: scale(2.0)
}

#ken {
  height: 850px;
  width: 850px;
  display: none;
  margin-bottom: 15%;
}
#kenblock {
  height: 950px;
  width: 1200px;
  display: none;
  transform: scaleX(-1)
}
#ryu {
  height: 800px;
  width: 800px;
  display: none;
}
#bros {
  height: 800px;
  width: 800px;
}
#ryublock {
  display: none;
  height: 950px;
  width: 1200px;
  transform: scaleX(-1)
}
#end {
display: none; 
}
#ryu-defense {
height: 350px;
width: 350px;
display: none;
margin-bottom:5%;
transform: scaleX(-1)
}
#ken-defense {
  height: 350px;
  width: 350px;
  display: none;
  margin-bottom:5%;
 }
 